#formMsg {color:#AAAAFF;}

.separator {
  padding-top: 10px;
  padding-bottom: 10px;
}

#songsList_msdd {
	width: 70%;
}

#description {
  width: 90%;
  font-size: 12px;
}

#sendButton {
	height: 28px;
	font-size: 24px;
	width: 100px;
	font-family: DIN Condensed;
	border-radius: 12px;
  	background: gray;
  	color: white;
  	text-transform: uppercase;
}

#subtitle {
  font-size: 32px;
  font-family: DIN Condensed;
  text-transform: uppercase;
  text-align: center;
}

.inputText {
	height: 28px;
	font-size: 14px;
	margin: 2px;
}

.btn {
  background-color: gray;
  border: none;
  color: white;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: '#222222';
}

.btn2 {
  background-color: gray;
  border: none;
  color: white;
  padding: 6px 6px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn2:hover {
  background-color: '#222222';
}